.container {
	width: 80%;
	overflow: hidden;
	margin: auto;

}
.form{
	margin: 5%;
	overflow: hidden;

	
	background: #f4f4f4;
}
.center{text-align:center;font-size: 2em;background:#eee;padding:2%;}
.form form{
	padding:2%;
border:2px solid #e5e5e5;
border-radius:5px;

	
}
.form form input{
	width:98%;
	font-size: 1.5em;
	
	margin:2% auto;
	border:2px solid #e5e5e5;
	padding:1%;
	border-radius:5px;
	
}
.form form input[type='radio']{
	width:5%;
	font-size: 1.5em;
}